* {
    box-sizing: border-box;
}

form input,
form select,
form textarea, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

legend {
    font-size: 20px;
}

select {
    height: 40px;
    color: grey;
}

a {
    font-size: 20px;
}