#p-signup {
    display: flex;   
    flex-direction: column;
    justify-content: center;
    max-width: 320px;
    min-height: 100vh;
    margin: 0 auto;
   }
   
   #p-signup fieldset {
       padding-top: 10px;
       padding-bottom: 10px;
       border: 0;
   }
   
   #p-signup input[type='checkbox'] {
       margin-left: 0;
       margin-right: 10px;
   }
   
   #p-signup input:not(input[type='checkbox']),
   #p-signup button {
       display: block;
       width: 100%;
       margin: 10px 0;
       box-sizing: border-box;
   }

   #p-signup a {
    font-size: large;
}

   button {
    font-size: large;
   }

   button#btn-salvar {
        background-color: rgb(134, 233, 134);
   }

   button#btn-delete {
        background-color: rgb(185, 51, 51);
   }

   button#btn-voltar {
        background-color: rgb(196, 196, 48);
   }

   a#voltar {
        margin-left: -1px;
        text-decoration: none;
   }